
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Shop elements</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Shop</span></a>
						<ul class="pcoded-submenu">
							<li><a href="#">Cachiers</a></li>
							<li><a href="#">Suppliers</a></li>
							<li><a href="#">Chains</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Chart & Maps</label>
					</li>
					<li class="nav-item">
					    <a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
					</li>
					<li class="nav-item">
					    <a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Pages</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/auth-signup.html">Sign up (template)</a></li>
					        <li><a href="/auth-signin.html">Sign in (template)</a></li>
					    </ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Action zone</label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'logout' %}" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
					</li>

				</ul>
				
				
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
